body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  --primary-color: rgb(255, 0, 106);
}

.testimonial-carousel {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  overflow: hidden;
  max-width: 1440px;
  margin: 0 auto 72px auto;
  width: 100%;
}

.testimonial-wrapper {
  display: flex;
  flex-direction: row;
  transform-style: preserve-3d;
  width: 600px;
  transition: transform 0.5s;
  padding-bottom: 48px;
  min-height: 600px;
  align-items: center;
}

.testimonial {
  box-sizing: border-box;
  transform: scale(calc(5 / 6));
  transition: all 0.5s;
  flex: 0 0 auto;
  max-width: 600px;
  min-width: 600px;
  background-color: #fff;
  padding: 48px;
  transform-origin: center;
  opacity: 0;
  border-radius: 6px;
  border: 1px solid #dfdfdf;
  background: var(--grayscale-white, #fff);
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.06),
    0px 7px 15px 0px rgba(0, 0, 0, 0.06), 0px 27px 27px 0px rgba(0, 0, 0, 0.05),
    0px 62px 37px 0px rgba(0, 0, 0, 0.03),
    0px 110px 44px 0px rgba(0, 0, 0, 0.01), 0px 172px 48px 0px rgba(0, 0, 0, 0);
  display: flex;
  flex-flow: column nowrap;
  gap: 24px;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.testimonial.current {
  opacity: 1;
  z-index: 2;
  transform: scale(1);
}

.testimonial.next:not(.clone),
.testimonial.prev:not(.clone) {
  cursor: pointer;
}

.testimonial.clone {
  pointer-events: none;
}

.testimonial.prev {
  transform: translateX(-450px) scale(calc(5 / 6));
  opacity: 0.5;
  z-index: 1;
}

.testimonial.next {
  transform: translateX(450px) scale(calc(5 / 6));
  opacity: 0.5;
  z-index: 1;
}
/* 
.testimonial.left {
  transform: translateX(-1000px) scale(calc(5 / 6));
  opacity: 0;
}

.testimonial.right {
  transform: translateX(1000px) scale(calc(5 / 6));
  opacity: 0;
}
.testimonial.right,
.testimonial.left {
  transition: none !important;
} */

.dummy-img {
  width: 106px;
  height: 106px;
  background-color: var(--primary-color);
  border-radius: 50%;
}
/* Dots for navigation */
.dots {
  display: flex;
  justify-content: center;
  flex: 100%;
  place-self: end;
  gap: 12px;
  margin-bottom: 72px;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: #999;
  border-radius: 50%;
  cursor: pointer;
}

/* Style the active dot */
.dot.active {
  background-color: #333;
}

h4 {
  font-size: 30px;
  font-weight: 700;
  line-height: normal;
  margin: 0;
}
p {
  font-size: 16px;
  line-height: 28px;
  margin: 0;
  font-weight: normal;
}

a {
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  color: var(--primary-color);
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  margin: 0;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.575rem 1rem;
  line-height: 1.5;
  border-radius: 999px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  border: 2px solid var(--primary-color);
}

@media only screen and (max-width: 800px) {
  .testimonial-wrapper {
    width: 100%;
    overflow-y: scroll;
    gap: 12px;
    transform: translateX(0) !important;
  }
  .testimonial,
  .testimonial.next,
  .testimonial.prev {
    width: calc(100% - 50px);
    min-width: auto;
    transform: scale(1) translateX(0);
    opacity: 1;
  }
  .dots {
    display: none;
  }
  .clone {
    display: none;
  }
}
