.testimonial-carousel {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  overflow: hidden;
  height: 600px;
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  margin-bottom: 3rem;
}

.testimonial-wrapper {
  display: flex;
  flex-direction: row;
  transform-style: preserve-3d;
  width: 600px;
  transition: transform 0.5s;
}

.testimonial {
  box-sizing: border-box;
  transform: scale(calc(5 / 6));
  transition: all 0.5s;
  flex: 0 0 auto;
  min-width: 600px;
  min-height: 500px;
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  padding: 48px;
  transform-origin: center;
  opacity: 0;
}

.testimonial.current {
  opacity: 1;
  z-index: 2;
  transform: scale(1);
}

.testimonial.next:not(.clone),
.testimonial.prev:not(.clone) {
  cursor: pointer;
}

.testimonial.clone {
  pointer-events: none;
}

.testimonial.prev {
  transform: translateX(150px) scale(calc(5 / 6));
  opacity: 1;
  z-index: 1;
}

.testimonial.next {
  transform: translateX(-150px) scale(calc(5 / 6));
  opacity: 1;
  z-index: 1;
}

/* Dots for navigation */
.dots {
  display: flex;
  justify-content: center;
  flex: 100%;
  place-self: end;
  gap: 12px;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: #999;
  border-radius: 50%;
  cursor: pointer;
}

/* Style the active dot */
.dot.active {
  background-color: #333;
}

@media only screen and (max-width: 800px) {
  .testimonial-wrapper {
    width: 100%;
    overflow-y: scroll;
    gap: 12px;
    transform: translateX(0) !important;
  }
  .testimonial,
  .testimonial.next,
  .testimonial.prev {
    width: calc(100% - 50px);
    min-width: auto;
    transform: scale(1) translateX(0);
    opacity: 1;
  }
  .dots {
    display: none;
  }
  .clone {
    display: none;
  }
}
